{% if returncode == "DisambiguationError" %}
    Sono state trovate le seguenti pagine
    {% if may_refer is not none %}
        {% for page in may_refer %}
            {{ page }}
        {% endfor %}
    {% endif %}
{% elif returncode == "PageError" %}
    Non ho trovato nulla su questo argomento
{% else %}
    {{ summary }}
{% endif %}
